*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button,
input {
  outline: 0;
  border: 0;
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
}

.page_wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--body_bg);
  color: var(--body_color);
  transition: background .3s ease-in-out;
}
.bg_url {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url(./images/pngwing.com.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: .5;
}

.container {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  padding: 40px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  margin-left: 0;
  margin-right: auto;
}

.logo a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.logo_img {
  margin-bottom: 10px;
  width: 100%;
  max-width: 65px;
}

.header_title {
  color: #4793FF;
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 20px;
}

.search {
  width: calc(50% - 20px);
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  background: var(--search_bg);
  transition: background .3s ease-in-out;
}

.search_input {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  flex: 1;
  color: #4c5a77;
  text-transform: capitalize;
  color: var(--search_color);
}
::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
}
.search button img {
  width: 20px;
}
.invalid_name {
  margin-left: auto;
  width: 100%;
  max-width: 500px;
  font-size: 20px;
  padding: 10px;
  color: #000;
  background-color: rgba(255, 255, 255, .3);
}

.cards_today {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.card {
  border-radius: 20px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  padding: 40px;
  width: calc(50% - 20px);
  background: var(--card_bg);
  transition: background .3s ease-in-out;
}

.card_feel {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.card_feel::before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../src/images/cloud_image.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.card_feel-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 18px;
  z-index: 3;
}

.card_feel-name,
.card_feel-like {
  text-transform: capitalize;
}

.card_feel-name {
  width: 100%;
  max-width: 170px;
  color: #4793FF;
  font-size: 20px;
}

.card_feel-like {
  width: 100%;
  max-width: max-content;
}

.weather_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather_main {
  flex: 1 1 auto;
}

.weather_temp {
  color: #4793FF;
  font-size: 96px;
  font-weight: 500;
}

.weather_icon {
  width: 100%;
  max-width: 200px;
}

.weather_time,
.weather_city {
  font-size: 18px;
  margin-bottom: 10px;
}

.moment {
  font-size: 40px;
  margin-bottom: 10px;
  color: var(--moment_color);
}

.icon {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 50px;
  height: 50px;
}


.img_term {
  width: 25px;
  height: 25px;
}

.cards_daily {
  background: var(--card_bg);
  justify-content: space-between;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  padding: 20px;
  min-height: 230px;
  display: none;
}
.cards_daily.active {
  display: flex;
}
.card_daily {
  width: calc(20% - 10px);
  padding: 10px;
  border-radius: 10px;
  background: var(--card_daily_bg);
}
.card_daily-img {
  width: 90%;
  max-width: 60px;
}
.block_tabs {
  display: flex;
  gap: 10px;
}
.tabs {
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  color: var(--search_color);
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  margin-bottom: 10px;
  background: var(--card_bg);
}
.page_wrapper .tabs.active {
  background: #4793FF;
}
.card_daily-date {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 7px;
}
.card_daily-icon {
  width: 50px;
  margin-bottom: 10px;
}
.card_daily-desc {
  text-transform: capitalize;
}

@media screen and (max-width: 1100px) {
  
  .card {
    padding: 30px;
  }
  .card_feel-item {
    column-gap: 10px;
  }
}

@media screen and (max-width: 992px) {
  .card_feel-name {
    font-size: 18px;
  }
  .card_feel-like {
    font-size: 16px;
  }
  .card_daily-date {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .cards_today {
    gap: 20px;
  }
  .search {
    width: 100%;
  }
  .card {
    width: 100%;
  }
  .cards_daily {
    flex-wrap: wrap;
    justify-content: start;
    gap: 10px;
  }
  .card_daily {
    width: calc(25% - 10px);
  }
  
}

@media screen and (max-width: 680px) {
  .card_daily {
    width: calc(33.33% - 10px);
  }
  
}

@media screen and (max-width: 568px) {
  .search button img {
    width: 25px;
  } 
  .card_daily {
    width: calc(50% - 10px);
  }
  .card_feel {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card_feel-item {
    display: inline-block;
    width: calc(50% - 5px);
    margin-bottom: 10px;
  }
  .tabs {
    padding: 5px;
    font-size: 16px;
  }
  .card_daily-img {
    width: 50px;
  }
}

@media screen and (max-width: 360px) {
  .search_input {
    font-size: 16px;
  }
  .moment {
    font-size: 25px;
  }
  .search button img {
    width: 15px;
  }
  .icon {
    width: 45px;
    height: 45px;
  }
}