*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button,
input {
  outline: 0;
  border: 0;
  background-color: transparent;
}

img {
  display: block;
  width: 100%;
}

.page_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* min-height: 100vh;
  /* position: relative; */ 
  /* display: flex;
  justify-content: center;
  align-items: center; */
 
  /* background: linear-gradient(rgba(96, 5, 207, 0.7), rgba(47, 231, 225, 0.7)),
    center / cover no-repeat url('./images/blue-sky-with-clouds-wallpaper_1562-107.avif'); */
}
.bg_url {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url(./images/pngwing.com.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: .5;
}
.page_wrapper.dark {
  background: #0D1117;
  color: #939CB0;
}
.page_wrapper.dark .search{
  background: #4F4F4F;
}
.page_wrapper.dark .search_input {
   color: #fff;
}
.page_wrapper.dark .card {
  background: #4F4F4F;
}
.page_wrapper.dark ::placeholder {
  color: #939CB0;
}
.page_wrapper.dark .moment {
  color: #fff;
}
.page_wrapper.dark .card_feel-like {
  color: #fff;
}
.page_wrapper.dark .cards_dayly {
  background: #4F4F4F;
}
.page_wrapper.dark .card_dayly {
  background: #2E3035;
}
.page_wrapper.light .card_dayly {
  background: rgba(71, 147, 255, 0.20);
}
.page_wrapper.dark .card_dayly-date {
  color: #fff;
}
.page_wrapper.dark .tabs {
  background: #4F4F4F;
}
.container {
  z-index: 3;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  font-family: 'Montserrat', sans-serif;
}

.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  margin-left: 0;
  margin-right: auto;
}

.logo a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.logo_img {
  margin-bottom: 10px;
  width: 100%;
  max-width: 65px;
}

.header_title {
  color: #4793FF;
  font-size: 25px;
  text-transform: uppercase;
  margin-left: 20px;
}

.search {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
}

.search_input {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  flex: 1;
  color: #4c5a77;
  text-transform: capitalize;
}
::placeholder {
  font-family: 'Montserrat', sans-serif;
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px;
  width: 40px;
}

.invalid_name {
  margin-left: auto;
  width: max-content;
  font-size: 18px;
  padding: 10px;
  border-radius: 20px;
  color: #4a0303;
  background-color: rgba(255, 255, 255, .3);
}

.cards_today {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.card {
  border-radius: 20px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  padding: 40px;
  width: calc(50% - 20px);
}

.card_city {
  /* width: calc(50% - 10px); */
  /* max-width: 500px; */
}

.card_feel {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.card_feel::before {
  /* z-index: -1; */
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../src/images/cloud_image.png);
  background-repeat: no-repeat;
  background-position: 100% 0;


}

.card_feel-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
  font-size: 18px;
  z-index: 1;
  /* flex-basis: 100%; */
  /* align-self: start; */
  /* margin-bottom: 10px; */
}

.card_feel-name,
.card_feel-like {
  text-transform: capitalize;
  /* background-color: rgba(255, 255, 255, .5); */
  /* border-radius: 30px; */
  /* padding: 15px; */
}

.card_feel-name {
  width: 100%;
  max-width: 170px;
  color: #4793FF;
  font-size: 20px;
  
}

.card_feel-like {
  width: 100%;
  max-width: max-content;
}

.weather_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather_main {
  flex: 1 1 auto;
}

.weather_temp {
  color: #4793FF;
  font-size: 96px;
  font-weight: 500;
}

/* .weather_today {
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
} */

.weather_icon {
  width: 100%;
  max-width: 200px;
  /* height: 200px; */
}

.weather_time,
.weather_city {
  font-size: 18px;
  margin-bottom: 10px;
}

.moment {
  font-size: 40px;
  margin-bottom: 10px;
}

.icon {
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_term {
  width: 25px;
  height: 25px;
}

.cards_dayly {
  /* display: flex; */
  justify-content: space-between;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  padding: 20px;
  min-height: 250px;
  display: none;
}
.cards_dayly.active {
  display: flex;
}
.card_dayly {
  width: calc(20% - 10px);
  padding: 10px;
  border-radius: 10px;
}
.card_dayly-img {
  width: 90%;
  max-width: 100px;
}
.block_tabs {
  display: flex;
  gap: 10px;
}
.tabs {
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  margin-bottom: 10px;
}
.page_wrapper .tabs.active {
  background: #4793FF;
}
.card_dayly-date {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 7px;
}
.card_dayly-icon {
  width: 50px;
  margin-bottom: 10px;
}
.card_dayly-desc {
  text-transform: capitalize;
}